services:
  server:
    build: .
    restart: always
    env_file:
      - .env
    depends_on:
      - database
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    command:
      [ "/wait-for-it.sh", "database:5432", "--", "sh", "-c", "alembic upgrade head && uvicorn app.main:app --host 0.0.0.0 --port 8000 --workers 4" ]

  worker:
    build: .
    restart: always
    env_file:
      - .env
    depends_on:
      - redis
    volumes:
      - .:/app
    command:
      ["celery", "-A", "app.infrastructure.celery_app.celery_app", "worker", "--loglevel=info"]

  database:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: schemion
    ports:
      - "5432:5432"
  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    restart: always
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
      MINIO_SERVER_URL: "http://localhost:9000"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=adminpass

    command: redis-server --save 120 1 --loglevel warning --requirepass adminpass
    volumes:
      - cache:/data


volumes:
  postgres_data:
  minio_data:
  cache: